In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('Online_Retail.csv', encoding='latin1')

In [8]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [12]:
#dataset
data[['InvoiceNo', 'StockCode']] = data[['InvoiceNo', 'StockCode']].applymap(str)
subset = data[['InvoiceNo', 'StockCode']]
subset

C:\Users\Quan\AppData\Local\Temp\ipykernel_20248\2805326270.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[['InvoiceNo', 'StockCode']] = data[['InvoiceNo', 'StockCode']].applymap(str)

       InvoiceNo StockCode
0         536365    85123A
1         536365     71053
2         536365    84406B
3         536365    84029G
4         536365    84029E
...          ...       ...
541904    581587     22613
541905    581587     22899
541906    581587     23254
541907    581587     23255
541908    581587     22138

[541909 rows x 2 columns]

In [ ]:
cart_list = []
#Cập nhật dataset với cart_list
def add_new(cart_list, subset):
    for item in cart_list:
        subset = subset.append({'InvoiceNo': 'cart_list', 'StockCode': item}, ignore_index=True)
        
    return subset

def get_cosine_sim(subset):
    pivot_tb = pd.crosstab(index=subset.InvoiceNo, colums=subset.StockCode)